@import "../abstract/variables";

.button {
    border-radius: $button-border-radius;
    box-sizing: $border-box;
    color: $white;
    cursor: pointer;
    font-family: $title-font;
    font-size: $font-size-button;
    font-weight: $font-weight-button;
    margin: 10px;
    height: $height-button;
    padding: $button-padding;
    width: $width-button;
    
    &.blue-button {
        border:$button-border solid $blue;
        background-color: $blue;
        &:hover {
            border: $button-border solid $white;
            background-color: transparent;   
        }
    }
        

    &.transparent-button {
        border: $button-border solid $white;
        background-color: transparent;
        &:hover {
            border: $button-border solid transparent;
            background-color: $blue;
        }
    }

}

.rectangular-button {
    align-content: center;
    border: $button-border solid $blue;
    background-color: $blue;
    color: $white;
    display: inline-block;
    font-family: $normal-font;
    font-weight: normal;
    height: $footer-form-height;
    justify-content: center;
    margin: 0;
    padding: 0;
    width: 100px;

    &:hover {
        border: $button-border solid darken($blue, 30);
        background-color: darken($blue, 30);
    }
}

