@import "../abstract/variables";

.button {
    border-radius: $border-radius;
    box-sizing: border-box;
    color: $white;
    cursor: pointer;
    display: inline-block;
    font-family: $title-font;
    font-weight: $font-weight-button;
    margin: 10px;
    padding: $padding-button;
    font-size: $font-size-button;
    height: $height-button;
    padding: $padding-button;

    &.blue-button {
        border:$border-button solid $blue;
        background-color: $blue;
        &:hover {
            border: $border-button solid $white;
            background-color: transparent;   
        }
    }
        

    &.transparent-button {
        border: $border-button solid $white;
        background-color: none;
        &:hover {
            background-color: $blue;
        }
    }
}