@import "../abstract/variables";

.button {
    border-radius: $border-radius;
    box-sizing: border-box;
    color: $white;
    cursor: pointer;
    display: inline-block;
    font-family: $title-font;
    font-weight: $font-weight-button;
    margin: 10px;
    padding: 20px;
    font-size: $font-size-button;
    height: $height-button;
    padding: $padding-button;

    &.blue-button {
        border:$border-button solid $blue;
        background-color: $blue;
        &:hover {
            border: $border-button solid $white;
            background-color: transparent;   
        }
    }
        

    &.transparent-button {
        border: $border-button solid $white;
        background-color: none;
        &:hover {
            background-color: $blue;
        }
    }
}

figure.round-icon{
    width: 40px;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    float: left;
    padding: 10px;
    border-radius: 50%;
    font-weight: 600;
    font-size: 25px;
    color: $dark-blue;
    border:$button-border solid $dark-blue;
    background-color: transparent;
    transition: all 0.3s ease-in-out;
    &:hover{
        background-color: $dark-blue;
        color: $white;}
}

figure.tag{
    cursor: pointer;
    margin: 15px 15px 15px 0;
    display: inline-block;
    padding: 6px 20px;
    font-size: 12px;
    line-height: 20px;
    color: $dark-blue;
    border-radius: 50px;
    text-transform: uppercase;
    background: $light-grey;
    margin-bottom: 5px;
    transition: all 0.3s ease-in-out;
    &:hover{
        background: $dark-blue;
        color:$white;}
    &:active{
        background: $dark-blue;
        color:$white;}
    &:first-child{
        color: $white;
        background-color: $dark-blue;}
    &:last-child{
        margin-right: 0;}
}

figure.profile-circle{
    width: 230px;
    height: 230px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    float: left;
    padding-left: 5px;
    padding-right: 5px ;
    overflow: hidden;
    border-radius: 50%;
    font-weight: 600;
    font-size: 25px;
    color: $dark-blue;}