@import "../abstract/variables";
@import "../components/buttons";

#Team{
    padding: 60px 0;
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
    font-family: $open-font;
    padding-left: 10%;
    padding-right: 10%;
    .container{
        width: 100%;
        .Port-header{
            position: relative;
            width: 100%;
            padding-right: 15px;
            padding-left: 15px;
            h3{
                font-size: $section-tittle;
                font-weight: 700;
                text-align: center;
                padding-bottom: 15px;
                font-family: $title-font;}
            .description{
                font-family: $open-font;
                font-size: 18px;
                font-weight: 400;
                width: 50%;
                text-align: center;
                margin: auto;
                padding-bottom: 60px;
                line-height: 26px;
                 color:$medium-grey;}
                    .member {
                        text-align: center;
                        margin-bottom: 20px;
                        position: relative;
                        border-radius: 50%;
                        overflow: hidden;
                        display: grid;
                        grid-template-columns: 25% 25% 25% 25%;
                        .member-info {
                            opacity: 0;
                            display: -webkit-box;
                            display: -webkit-flex;
                            display: -ms-flexbox;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            position: absolute;
                            bottom: 0;
                            top: 0;
                            left: 0;
                            right: 0;
                            transition: 0.2s;}
                        .member-info-content {
                            margin-top: 50px;
                            transition: margin 0.2s;}
                        &:hover {
                            .member-info {
                                background: rgba(0, 62, 128, 0.7);
                                opacity: 1;
                                transition: 0.4s;}
                            .member-info-content {
                                margin-top: 0;
                                transition: margin 0.4s;}
                        }
                        h4 {
                            font-weight: 700;
                            margin-bottom: 2px;
                            font-size: 18px;
                            color: #fff;}
                        span {
                            font-style: italic;
                            display: block;
                            font-size: 13px;
                            color: #fff;}
                        .social {
                            margin-top: 15px;
                            a {
                                transition: none;
                                color: #fff;
                                &:hover {
                                color: $dark-blue;}
                            }
                            i {
                                font-size: 18px;
                                margin: 0 2px;}
                 }
                    
                }
            }
        .profile-container{
            justify-content: center;
            display: flex;
            flex-direction: row;
            .member{
                .profile-circle{
                    text-align: center;
                    margin-bottom: 20px;
                    position: relative;
                    border-radius: 50%;
                    overflow: hidden;
                    .img-fluid{
                        height: 110%;
                        width: 110%;
                        object-fit: cover;}
                }
                .member-info {
                    opacity: 0;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: absolute;
                    bottom: 0;
                    top: 0;
                    left: 0;
                    right: 0;
                    transition: 0.2s;}
                .member-info-content {
                    margin-top: 50px;
                    transition: margin 0.2s;}
                &:hover {
                    .member-info {
                        background: rgba(0, 62, 128, 0.7);
                        opacity: 1;
                        transition: 0.4s;}
                    .member-info-content {
                        margin-top: 0;
                        transition: margin 0.4s;}
                    h4 {
                        font-weight: 700;
                        margin-bottom: 2px;
                        font-size: 18px;
                        color: $white;}
                    span {
                        font-style: italic;
                        display: block;
                        font-size: 13px;
                        color: $white;
                    }
                    .social {
                        margin-top: 15px;
                        a {
                            transition: none;
                            color: $white;
                            &:hover {
                                color: $dark-blue;}
                        }
                        i {
                            font-size: 10px;
                            margin: 0 2px;}
                    }
                }
            }

        }
        }
    }

