// COLOR
$blue: #007bff;
$grey:  #343a40;
$white: #FFF;



//FONTS

$normal-font: 'Open Sans', sans-serif;
$title-font: 'Montserrat', sans-serif;

//FONT-SIZE / WEIGHT

$font-size-button: 6px;

$font-size-s: 4px;
$font-size-normal: 12px;
$font-size-l: 36px;
$font-size-xl: 48px;

$font-weight-button: bold;

//HEIGHTS

$height-button: 20px;


//BORDER

$border-radius: 15px;

$border-button: 2px;


//PADDINGS

$padding-button: 10 32px;