// COLOR
$blue: #007bff;
$dark-blue: #1445b3;
$grey:  #343a40;
$white: #FFF;



//FONTS

$normal-font: 'Open Sans', sans-serif;
$title-font: 'Montserrat', sans-serif;

//FONT-SIZE / WEIGHT

$font-weight-hero: bolder;

$size-menu-icons: 23px;
$font-size-button: 15px;
$font-weight-button: bold;

$font-size-xxs: 4px;
$font-size-xs: 12px;
$font-size-s: 15px;
$font-size-normal: 16px;
$font-size-l: 34px;
$font-size-xl: 48px;


//HEIGHTS WIDTHS

$height-header: 60px;

$height-button: 45px;
$width-button: 170px;

$footer-form-height: 30px;


//BORDER
$border-box: border-box;
$button-border-radius: 30px;

$button-border: 2px;
 

//PADDINGS Y MARGINS

$hero-container-margin: 50px auto;
    $hero-container-img-margin: auto;
    $hero-text-margin: 10px;

    $button-padding: 10px 20px;

//WIDHT

$logo-widht: 70px;